#about{
	.enc-row;
	.parallax-1{
		.enc-row;
		.enc-background-parallax(cover, center, fixed, @black, 0.5);
		.section-1{
			.enc-row;
			.enc-background-color(@white, 1);
			.enc-padding-auto-equal-topbottom(1rem, 0.01);
			.what-section-center{
				h1{
					.what-mixin-heading-padding;
					.what-mixin-72(@black, @textTransform: uppercase, @text-align: center);
				}
				figure{						
					img{
						.enc-align-horizontal;
						.enc-flex-auto(width, 90%, -1);
					}
				}
				p{
					.what-mixin-paragraph-padding(0.5rem, 0.01, 0.5rem, 0.01);
					.what-mixin-14(@black, 50%, @text-align: center);
				}
				p + p{
					.what-mixin-paragraph-padding(0.5%, 0.01, 1%, 0.01);
				}
				a{
					.enc-text-deco;
					button{
						.enc-align-horizontal;
						.what-mixin-button-20(@color: @white, @bgColor: @yellow, @bColor: @yellow, @hColor: @white, @hBgColor: @darkGray, @hBColor: @darkGray);
					}
				}
			}
		}
		.section-2{
			.enc-row;
			.enc-padding-auto-equal-topbottom(1rem, 0.01);
			.what-section-center{
				position: relative;
				top: 25%;
				-webkit-transform: translateY(-25%);
				-ms-transform: translateY(-25%);
				transform: translateY(-25%);
				hgroup{
					.enc-row;
					h1{
						.enc-row;
						.what-mixin-heading-padding;
						.what-mixin-36(@white, @text-align: center);
					}
					h2{
						.enc-row;
						.what-mixin-heading-padding;
						.what-mixin-72(@yellow, @text-align: center);					
					}
				}	
			}
		}
	}
	.section-3{
		.enc-row;
		.enc-padding-auto-equal-topbottom(1rem, 0.01);
		.what-section-center{
			h1{
				.enc-row;
				.what-mixin-heading-padding;
				.what-mixin-72(@black, @text-align: center);
			}
			ul{
				.enc-row;
				list-style: none;
				li{
					.enc-align-boxsizing;
					.enc-column(50%, 25%, 25%, 25%);
					.enc-padding-auto-equal-leftright(0.5rem, 0.01);
					.enc-padding-auto-equal-topbottom(0.5rem, 0.01);
					figure{
						.enc-row;
						img{
							.enc-row;
						}
					}
					article{
						.three-fourths-border;
						h2{
							.enc-row;
							.enc-align-boxsizing;
							.what-mixin-20(@yellow, @text-align: center);
							.enc-padding-auto-equal-leftright(2rem, 0.01);
							.enc-padding-auto-equal-topbottom(0.5rem, 0.01);
						}
						p{
							.enc-row;
							.enc-align-boxsizing;
							.enc-padding-auto-equal-leftright(1rem, 0.01);
							.what-mixin-14(@black, 50%, @text-align: center);
							.what-mixin-paragraph-padding(0.01rem, 0.01, 1rem, 0.01);
						}
					}
				}
			}
		}
	}
	.section-4{
		.enc-row;
		.enc-padding-auto-equal-topbottom(1rem, 0.01);
		.what-section-center{
			h1{
				.enc-row;
				.what-mixin-heading-padding;
				.what-mixin-72(@black, @text-align: center);
			}
			ul{
				.enc-row;
				list-style: none;
				li{
					.enc-align-boxsizing;
					.enc-column(100%, 33.33%, 33.33%, 33.33%);
					.enc-padding-auto-equal-leftright(0.5rem, 0.01);
					.enc-padding-auto-equal-topbottom(0.5rem, 0.01);						
					section{
						.enc-row;
						.enc-border(0.125rem, solid, @yellow, 0rem);
						figure{
							.enc-row;
							.enc-padding-auto-equal-topbottom(0.5rem, 0.01);
							i{
								.what-mixin-72(@yellow, @text-align: center);
								.enc-align-horizontal;
							}	
						}
						article{
							.enc-row;
							.enc-padding-auto-equal-topbottom(0.5rem, 0.01);
							h2{
								.enc-row;
								.enc-align-boxsizing;
								.enc-padding-auto-equal-topbottom(0.5rem, 0.01);
								.what-mixin-36(@black, @text-align: center, @letter-spacing: 0.01rem);
							}
							p{
								.enc-row;
								.enc-align-boxsizing;
								.enc-padding-auto-equal-leftright(0.5rem, 0.01);
								.enc-padding-auto-equal-topbottom(0.1rem, 0.01);
								.what-mixin-14(@black, 50%, @text-align: center);
							}
						}
						a{
							.enc-row;
							.enc-text-deco;	
							button{
								.enc-row;
								.what-mixin-button-20(@color: @white, @bgColor: @yellow, @bColor: @yellow, @hColor: @white, @hBgColor: @darkGray, @hBColor: @darkGray);
							}
						}
					}
				}
			}		
		}
	}
	.section-5{
		.enc-row;
		.enc-background-color(@darkGray, 1);
		.enc-padding-auto-equal-topbottom(1rem, 0.01);
		.what-section-center{
			h1{
				.what-mixin-72(@white, @text-align: center);	
			}
			.slider{ 
				.enc-row;
				.enc-background-color(@darkGray, 1);
				.slides{
					.enc-row;
					.enc-background-color(@darkGray, 1);
					list-style: none;
					li{
						img{
							display: none;
						}
						.caption{
							//.enc-align-vertical(25%);
							i{
								.what-mixin-72(@yellow, @text-align: center);
								.enc-align-horizontal;
							}
							p{
								.what-mixin-14(@black, 50%, @text-align: center);
								.what-mixin-paragraph-padding(1rem, 0.01, 0.01rem, 0.01);
							}
							h2{
								.what-mixin-20(@yellow, @text-align: center);
								.what-mixin-heading-padding(@padding: 1rem);
							}
						}
					}
				}
				.indicators{
					.enc-background-color(@darkGray, 1);
					.indicator-item{
						.enc-border(0.01rem, solid, @black, 1rem);
						.enc-background-color-lighten(@black, 50%);
						.enc-margin-auto-equal-leftright(0.1rem, 0.01);
						width: 1rem;
						height: 1rem;							
					}
					.active{
						.enc-background-color(@yellow, 1);
					}
				}
			}
		}
	}
}