#bapc-about{
	.enc-width-float;
	#bapc-about-top-pics{
		.enc-width-float;
		
		.enc-flex-auto-xs(margin-bottom, 2rem, 0);
		.enc-flex-auto-sm(margin-bottom, 2rem, 0);
		.enc-flex-auto-md(margin-bottom, 3rem, 0);
		.enc-flex-auto-lg(margin-bottom, 4rem, 0);		
		div{
			.enc-flex-col(33.33%, 33.33%, 33.33%, 33.33%);
			img{
				
			}
		}
	}
	article{
		.enc-width-float;
		
		.enc-flex-auto-xs(margin-bottom, 1rem, 0);
		.enc-flex-auto-sm(margin-bottom, 1rem, 0);
		.enc-flex-auto-md(margin-bottom, 1.5rem, 0);
		.enc-flex-auto-lg(margin-bottom, 2rem, 0);		
		hgroup{
			.enc-center-block;
			
			.enc-flex-auto-xs(width, 90%, 0);
			.enc-flex-auto-sm(width, 80%, 0);
			.enc-flex-auto-md(width, 80%, 0);
			.enc-flex-auto-lg(width, 70%, 0);
			
			text-align: center;
			h2{				
				.enc-flex-auto-xs(margin-bottom, 0.2rem, 0);
				.enc-flex-auto-sm(margin-bottom, 0.5rem, 0);
				.enc-flex-auto-md(margin-bottom, 0.5rem, 0);				
				.enc-flex-auto-lg(margin-bottom, 0.6rem, 0);
				
				.enc-flex-auto-xs(font-size, 1.5rem, 0.3);
				.enc-flex-auto-sm(font-size, 2.3rem, 0.3);
				.enc-flex-auto-md(font-size, 2.5rem, 0.4);
				.enc-flex-auto-lg(font-size, 4rem, 0.4);
					
				.enc-flex-auto-xs(line-height, 1.6rem, 0.3);
				.enc-flex-auto-sm(line-height, 2.4rem, 0.3);
				.enc-flex-auto-md(line-height, 2.6rem, 0.4);
				.enc-flex-auto-lg(line-height, 4rem, 0.4);					
			}
			h3{
				.enc-flex-auto(font-size, .9rem, .01);
				.enc-flex-auto(line-height, 1rem, .01);
				
				.enc-flex-auto-xs(margin-bottom, 1rem, 0);
				.enc-flex-auto-sm(margin-bottom, 1rem, 0);
				.enc-flex-auto-md(margin-bottom, 1.5rem, 0);
				.enc-flex-auto-lg(margin-bottom, 2.2rem, 0);
				color: @purple;				
				margin-top: 0;
				font-family: "Times new Roman" !important;
			}
		}
		div{
			.enc-center-block;
			.enc-flex-auto-xs(width, 90%, 0);
			.enc-flex-auto-sm(width, 80%, 0);
			.enc-flex-auto-md(width, 80%, 0);
			.enc-flex-auto-lg(width, 70%, 0);		
			P{
				.enc-flex-col(100%, 48.5%, 48.5%, 48.5%);
				
				.enc-flex-auto-xs(padding-right, 0rem, 0);
				.enc-flex-auto-sm(padding-right, 1rem, 0);
				.enc-flex-auto-md(padding-right, 1rem, .01);
				.enc-flex-auto-lg(padding-right, 1rem, 0);
				
				.enc-flex-auto-xs(margin-bottom, .5rem, 0);
				.enc-flex-auto-sm(margin-bottom, 0rem, 0);
				.enc-flex-auto-md(margin-bottom, 0rem, 0);
				.enc-flex-auto-lg(margin-bottom, 0rem, 0);
				
				.enc-flex-auto(font-size, .6rem, .02);
				.enc-flex-auto(line-height, .9rem, .02);
				float: left;						
			}
			p + p{
				.enc-flex-col(100%, 48.5%, 48.5%, 48.5%);
				
				.enc-flex-auto-xs(padding-right, 0, 0);
				.enc-flex-auto-sm(padding-right, 0, 0);
				.enc-flex-auto-md(padding-right, 0, 0);
				.enc-flex-auto-lg(padding-right, 0, 0);
				
				margin-top: 0;
				float: left;
			}					
		}
	}
	#bapc-about-slideshow{
		.enc-width-float;
		
		.enc-flex-auto-xs(margin-top, 2rem, 0);
		.enc-flex-auto-sm(margin-top, 2rem, 0);
		.enc-flex-auto-md(margin-top, 3rem, 0);
		.enc-flex-auto-lg(margin-top, 4rem, 0);
		ul{
			.enc-width-float;
			.enc-flex-auto-xs(height, 200px, 7);
			.enc-flex-auto-sm(height, 300px, 10);
			.enc-flex-auto-md(height, 450px, 20);
			.enc-flex-auto-lg(height, 600px, 25);
			li{
				.enc-width-float;
				.enc-flex-auto-xs(height, 200px, 7);
				.enc-flex-auto-sm(height, 300px, 10);
				.enc-flex-auto-md(height, 450px, 20);
				.enc-flex-auto-lg(height, 600px, 25);
				img{
					background-size: 100% 100%;
				}
			}
		}
	}
}