.enc-form-complete{
	.enc-transition();
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	background-color: black;
	position: absolute;
}

.enc-input-error{
	  border-color: #8a6d3b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.enc-input-success{
	  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.enc-input-disabled{
	  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
	background-color: #337ab7;
  border-color: #2e6da4;
}


#bapc-contact{
	.enc-width-float;
	
	.enc-flex-auto-xs(margin-top, 2%, 0);
	.enc-flex-auto-sm(margin-top, 2%, 0);
	.enc-flex-auto-md(margin-top, 2%, 0);				
	.enc-flex-auto-lg(margin-top, 2%, 0);
	
	.enc-flex-auto-xs(margin-bottom, 2%, 0);
	.enc-flex-auto-sm(margin-bottom, 2%, 0);
	.enc-flex-auto-md(margin-bottom, 2%, 0);				
	.enc-flex-auto-lg(margin-bottom, 2%, 0);
	article{
		.enc-center-block;
			
		.enc-flex-auto-xs(width, 90%, 0);
		.enc-flex-auto-sm(width, 80%, 0);
		.enc-flex-auto-md(width, 80%, 0);
		.enc-flex-auto-lg(width, 80%, 0);
		address{
			.enc-flex-auto(font-size, .8rem, .03);
			.enc-flex-auto(line-height, 1rem, .04);
			color: @purple;
			strong{
				.enc-flex-auto(font-size, 2rem, .03);
				.enc-flex-auto(line-height, 2rem, .03);
				
				font-family: "darleston";
				color: @darkPurple;
			}
			abbr{
				color: @purple;
			}
			a{
				color: @black;
				text-decoration: none;
			}
		}
	}
	fieldset{
		.enc-center-block;

		.enc-flex-auto-xs(width, 90%, 0);
		.enc-flex-auto-sm(width, 80%, 0);
		.enc-flex-auto-md(width, 80%, 0);
		.enc-flex-auto-lg(width, 80%, 0);
			
		.enc-flex-auto-xs(margin-top, 1%, 0);
		.enc-flex-auto-sm(margin-top, 1.5%, 0);
		.enc-flex-auto-md(margin-top, 2%, 0);				
		.enc-flex-auto-lg(margin-top, 2%, 0);
		
		border: none;	
		legend{
			.enc-width-float;
			.enc-flex-auto(font-size, 1.3rem, .06);
			.enc-flex-auto(line-height, 1.4rem, .06);
				
			font-weight: bold;
			color: @darkPurple;
			border-bottom: @purple solid 1px;					
		}
		#bapc-contact-form{
			.enc-flex-auto-xs(margin-top, 0.6rem, 0);
			.enc-flex-auto-sm(margin-top, 0.8rem, 0);
			.enc-flex-auto-md(margin-top, 0.9rem, 0);				
			.enc-flex-auto-lg(margin-top, 1rem, 0);
			.enc-width-float;
			div{
				.enc-flex-auto-xs(margin-bottom, .5rem, 0);
				.enc-flex-auto-sm(margin-bottom, 1rem, 0);
				.enc-flex-auto-md(margin-bottom, 1rem, 0);
				.enc-flex-auto-lg(margin-bottom, 1rem, 0);	
				
				.enc-flex-auto(font-size, .8rem, .03);
				.enc-flex-auto(line-height, .9rem, .03);
				color: @purple;
				div{
					.enc-media-auto-width(width, 50%, -1.5);
					float: left;
				}
				div + div{
					.enc-media-auto-width(width, 50%, 1.5);
					float: left;
					input{
						.enc-flex-auto-xs(margin-left, .5rem, 0);
						.enc-flex-auto-sm(margin-left, 1rem, 0);
						.enc-flex-auto-md(margin-left, 1rem, 0);
						.enc-flex-auto-lg(margin-left, 1rem, 0);

						.enc-flex-auto-xs(width, 98%, 0);
						.enc-flex-auto-sm(width, 30%, 0);
						.enc-flex-auto-md(width, 20%, 0);
						.enc-flex-auto-lg(width, 20%, 0);

						.enc-flex-auto(font-size, .9rem, .03);
						.enc-flex-auto(line-height, 1rem, .03);					
						border: @purple solid 1px;					
					}
					textarea{
						.enc-flex-auto-xs(margin-left, .5rem, 0);
						.enc-flex-auto-sm(margin-left, 1rem, 0);
						.enc-flex-auto-md(margin-left, 1rem, 0);
						.enc-flex-auto-lg(margin-left, 1rem, 0);

						.enc-flex-auto-xs(width, 98%, 0);
						.enc-flex-auto-sm(width, 40%, 0);
						.enc-flex-auto-md(width, 40%, 0);
						.enc-flex-auto-lg(width, 30%, 0);

						.enc-flex-auto(font-size, .9rem, .03);
						.enc-flex-auto(line-height, 1rem, .03);							
						border: @purple solid 1px;	
					}
				}
			}
			#submit-button{
				.enc-flex-btn(@font-size: .8rem, 
					@font-size-ratio: .02, 
					@line-height: 12px, 
					@line-height-ratio: .5,
					@bg-color: @purple,
					@bg-color-opacity: 1,
					@color: @white,
					@color-opacity: 1,
					@border-width: 1px,
					@border-style: solid,
					@border-color: @black,
					@border-radius: 20px,
					@color-hover: @white,
					@color-opacity-hover: 1,
					@bg-color-hover: @darkPurple,
					@bg-color-opacity-hover: 1,
					@border-width-hover: 1px,
					@border-style-hover: solid,
					@border-color-hover: @black,
					@border-radius-hover: 20px,
					@padding-top: 5px,
					@padding-top-ratio: .2,
					@padding-bottom: 5px,
					@padding-bottom-ratio: .2,
					@padding-left: 5px,
					@padding-left-ratio: .2,
					@padding-right: 5px,
					@padding-right-ratio: .2,
					@transition-duration: 1s,
					@transition-ease: ease-in-out);
				float: right;
				.enc-user-select-none;
			}
		}
	}		
	figure{
		.enc-width-float;		
		iframe{
			.enc-center-block;

			.enc-flex-auto-xs(width, 90%, 0);
			.enc-flex-auto-sm(width, 80%, 0);
			.enc-flex-auto-md(width, 80%, 0);
			.enc-flex-auto-lg(width, 80%, 0);
			
			.enc-media-auto-width(height, 200px, 10);
			
			.enc-media-auto-width(padding-top, 2%, 0);
			.enc-media-auto-width(padding-bottom, 2%,0 );
			.enc-media-auto-width(padding-left, 2%, 0);
			.enc-media-auto-width(padding-right, 2%, 0);
			
			border: @purple solid 1px;
		}
	}
}