header{
	.enc-row;
	#header-s1-out{
		.enc-row;
		.enc-padding-auto-equal-topbottom(1rem, 0.04);
		background-image: url(http://livedemo00.template-help.com/joomla_53717/templates/theme3100/images/template/headerBg.jpg);
		#header-s1-inn{
			.enc-row;
			#header-s1-con{
				.enc-row;
				#header-s1-cen{
					figure{
						.enc-row;
						svg{
							margin: 0 auto;
							display: block;
						}
						h1{
							.enc-font-auto-size-lineheight(1rem, 0.01, 1rem, 0.01);
							.enc-color(@yellow, 1);
							text-align: center;
						}
					}
					nav{
						.enc-row;
						ul{
							.enc-row;
							list-style: none;
							li{
								.enc-padding-auto-equal-topbottom(1rem, 0.04);
								width: 16.66666666666667%;
								float: left;
								text-align: center;
								a{
									.enc-color(@white, 1);
									.enc-text-deco;
									.enc-font-auto-size-lineheight(1rem, 0.04, 1rem, 0.04);
								}
							}
						}
					}
				}
			}
		}
	}
	#header-s2-out{
		.enc-row;
		.enc-background-color(@darkGray, 1);
		.enc-padding-auto-equal-topbottom(0.01rem, 0.01);
		position: fixed;
		z-index: 999;
		visibility: hidden;
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		#header-s2-inn{
			.enc-row;
			#header-s2-con{
				.enc-row;
				#header-s2-cen{
					figure{
						width: 25%;
						float: left;
						svg{
							width: 20%;
							height: auto;
							margin: 0 auto;
							display: block;
						}
					}
					nav{
						width: 75%;
						float: left;
						ul{
							.enc-row;
							list-style: none;
							li{
								.enc-padding-auto-equal-topbottom(1rem, 0.01);
								width: 16.66666666666667%;
								float: left;
								text-align: center;
								a{
									.enc-color(@white, 1);
									.enc-text-deco;
									font-size: 2rem;
									/*.enc-font-auto-size-lineheight(1rem, 0.04, 1rem, 0.04);*/
								}
							}
						}
					}
				}
			}
		}
	}
}
