/*.uk-cover-background, .grid-container{
	.enc-img-background-color(#717171, 0.4);
}*/

.bapc-home-overlay-content-h3-active{
}

.bapc-home-overlay-content-h3-non-active{
	padding-top: 1px !important;
}

.bapc-home-overlay-content-p-active{
}

.bapc-home-overlay-content-p-non-active{
}


.overlay{
	width: 100%;
	background-color: @white;
	opacity: 0;
	transition: all 1s ease;
	.overlay-container{
		transition: all 1s ease;
		.overlay-content{
			transition: all 1s ease;
			text-align: center;
		}
	}
}
.active{
	opacity: 1;
}

.uk-button-link,
.uk-button-link:hover,
.uk-button-link:focus,
.uk-button-link:active,
.uk-button-link.uk-active,
.uk-button-link:disabled {
  border-color: transparent;
  background: none;
  position: relative;
  padding: 0;
  border-radius: 0;
  font-weight: 400;
}
.uk-button-link:before,
.uk-button-link:hover:before,
.uk-button-link:focus:before,
.uk-button-link:active:before,
.uk-button-link.uk-active:before,
.uk-button-link:disabled:before {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 100%;
  height: 1px;
  .enc-background-rgb(@lightGray, .5);
}
.uk-button-link:after,
.uk-button-link:hover:after,
.uk-button-link:focus:after,
.uk-button-link:active:after,
.uk-button-link.uk-active:after,
.uk-button-link:disabled:after {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 0;
  height: 1px;
  background: @white;
  -webkit-transition: width 1s cubic-bezier(1, 0, 0, 1), -webkit-transform 0.5s;
  -moz-transition: width 1s cubic-bezier(1, 0, 0, 1), opacity 0.5s, -moz-transform 0.5s;
  transition: width 1s cubic-bezier(1, 0, 0, 1), opacity 0.5s, transform 0.5s;
}
.uk-button-link:hover:after,
.uk-button-link:hover:hover:after,
.uk-button-link:focus:hover:after,
.uk-button-link:active:hover:after,
.uk-button-link.uk-active:hover:after,
.uk-button-link:disabled:hover:after {
  width: 100%;
}

/* Color */
.uk-button-link {
  color: @white;
}
.uk-button-link:hover,
.uk-button-link:focus,
.uk-button-link:active,
.uk-button-link.uk-active {
  color: @white;
  text-decoration: none;
}
.uk-button-link:disabled {
  color: #b6b6b6;
}
/* Focus */
.uk-button-link:focus {
  outline: 1px dotted;
}

#bapc-home-teaser{	
	.enc-width-float;	
	background-color: @darkPurple;
	#container{
		.enc-center-block;
		.enc-flex-auto-xs(width, 95%, 0);
		.enc-flex-auto-sm(width, 80%, 0);
		.enc-flex-auto-md(width, 80%, 0);
		.enc-flex-auto-lg(width, 70%, 0);	
		
		.enc-flex-auto-xs(margin-top, 0rem, 0);
		.enc-flex-auto-sm(margin-top, -4rem, 0);
		.enc-flex-auto-md(margin-top, -4rem, 0);
		.enc-flex-auto-lg(margin-top, -6rem, 0);
		#left{
			.enc-flex-col(100%, 30%, 30%, 30%);	
			
			background-color: @purple;			
			text-align: center;
			float: left;
			div{	
				.enc-flex-auto(padding, 15px, 0);
				h2{
					.enc-flex-auto-xs(margin-top, 1.5rem, 0);
					.enc-flex-auto-sm(margin-top, .8rem, .05);
					.enc-flex-auto-md(margin-top, 0, 0);
					.enc-flex-auto-lg(margin-top, 2.2rem, 0);
					
					.enc-flex-auto(font-size, .8rem, .03);
					.enc-flex-auto(line-height, .9rem, .03);
					color: @white !important;
					font-family: "Time New Roman" !important;
				}
				h3{
					.enc-flex-auto-xs(margin-top, 1.5rem, 0);
					.enc-flex-auto-sm(margin-top, .8rem, .05);
					.enc-flex-auto-md(margin-top, .8rem, .05);
					.enc-flex-auto-lg(margin-top, 2.2rem, 0);
					
					.enc-flex-auto(font-size, 2rem, .2);
					.enc-flex-auto(line-height, 2.2rem, .2);
					color: @white !important;
				}
				p{	
					.enc-flex-auto(font-size, .7rem, .04);
					.enc-flex-auto(line-height, 1.1rem, .04);
					
					.enc-flex-auto-xs(margin-top, 1.5rem, 0);
					.enc-flex-auto-sm(margin-top, .8rem, .05);
					.enc-flex-auto-md(margin-top, .8rem, .05);
					.enc-flex-auto-lg(margin-top, 2.2rem, 0);
					
					.enc-flex-auto-xs(margin-left, 0, 0);
					.enc-flex-auto-sm(margin-left, 1rem, 0);
					.enc-flex-auto-md(margin-left, 1.5rem, 0);
					.enc-flex-auto-lg(margin-left, 2rem, 0);
					
					.enc-flex-auto-xs(margin-right, 0, 0);
					.enc-flex-auto-sm(margin-right, 1rem, 0);
					.enc-flex-auto-md(margin-right, 1.5rem, 0);
					.enc-flex-auto-lg(margin-right, 2rem, 0);
					color: @lightGray;
				}
				.uk-button-link{
					.enc-flex-auto(font-size, .7rem, .04);
					.enc-flex-auto(line-height, .8rem, .04);
					
					.enc-flex-auto-xs(margin-top, 1.5rem, 0);
					.enc-flex-auto-sm(margin-top, .8rem, .05);
					.enc-flex-auto-md(margin-top, .8rem, .05);
					.enc-flex-auto-lg(margin-top, 2.2rem, 0);
					
					.enc-flex-auto-xs(margin-bottom, 0, 0);
					.enc-flex-auto-sm(margin-bottom, 0, 0);
					.enc-flex-auto-md(margin-bottom, 0, 0);
					.enc-flex-auto-lg(margin-bottom, 2.5rem, 0);
					text-decoration: none;	
					color: @white !important;
				}				
			}
		}
		#right{
			.enc-flex-col(100%, 70%, 70%, 70%);	
			.grid{
				.enc-flex-col(50%, 50%, 50%, 50%);	
				.grid-container{				
				}
				#image-1{
					background-image: url('../../../images/what/home/bapc-home-teaser-1.PNG');
					background-size: cover;
					background-position: 100% 1%;
				}
				#image-2{
					background-image: url('../../../images/what/home/bapc-home-teaser-2.PNG');
					background-size: cover;
					background-position: 30% 1%;
				}
				#image-3{
					background-image: url('../../../images/what/home/bapc-home-teaser-3.PNG');
					background-size: cover;
					background-position: 50% 1%;
				}
				#image-4{
					background-image: url('../../../images/what/home/bapc-home-teaser-4.PNG');
					background-size: cover;
					background-position: 93% 1%;
				}
				.overlay{
					.overlay-container{
						.overlay-content{
							h3{
								.enc-flex-auto(font-size, .8rem, .03);
								.enc-flex-auto(line-height, .9rem, .03);
								transform: matrix(1, 0, 0, 1, 0, -10);
								width: 100%;
								font-weight: 600;
								font-family: "Times New Roman" !important;
								&:after{
									content: "";
									display: block;
									position: absolute;
									left: 35%;
									width: 30%;
									margin-top: 5px;
									border-top: 1px solid #e7e7e7;
								}
							}
							p{
								.enc-flex-auto(font-size, .6rem, .03);
								.enc-flex-auto(line-height, .7rem, .03);
								width: 100%;
							}
						}
					}
				}				
			}
		}
	}
}

#bapc-home-section-2{
	.enc-width-float;
	
	padding-top: 4rem;
	padding-bottom: 4rem;
	background-color: @white;	
	#container{
		.enc-center-block;
		.enc-flex-auto-xs(width, 60%, 0);
		.enc-flex-auto-sm(width, 90%, 0);
		.enc-flex-auto-md(width, 80%, 0);
		.enc-flex-auto-lg(width, 70%, 0);
		#left{
			.enc-flex-col(100%, 43.5%, 43.5%, 43.5%);			
			figure{
				img{
					.enc-center-block;
					opacity: 1;
				}
				img + img{
					opacity: 0;
				}
				.uk-overlay-fade{
					transition-duration: 0.7s;
					transition-timing-function: ease;
				}
				&:hover{
					img{
						opacity: 0;
					}
					img + img{
						opacity: 1;
					}
				}
			}
		}
		#right{
			.enc-flex-col(100%, 53.5%, 53.5%, 53.5%);
			.enc-flex-auto-xs(margin-top, 1rem, 0);
			.enc-flex-auto-sm(margin-top, 0rem, 0);
			.enc-flex-auto-md(margin-top, 0em, 0);
			.enc-flex-auto-lg(margin-top, 0rem, 0);	
			
			.enc-flex-auto-xs(padding-left, 0rem, 0);
			.enc-flex-auto-sm(padding-left, 1rem, 0);
			.enc-flex-auto-md(padding-left, 1em, 0);
			.enc-flex-auto-lg(padding-left, 1rem, 0);	
			color: @lightGray;
			div{
				h3{
					.enc-flex-auto-xs(font-size, 1.5rem, 0.3);
					.enc-flex-auto-sm(font-size, 2.3rem, 0.3);
					.enc-flex-auto-md(font-size, 2.5rem, 0.4);
					.enc-flex-auto-lg(font-size, 4rem, 0.4);
					
					.enc-flex-auto-xs(line-height, 1.6rem, 0.3);
					.enc-flex-auto-sm(line-height, 2.4rem, 0.3);
					.enc-flex-auto-md(line-height, 2.6rem, 0.4);
					.enc-flex-auto-lg(line-height, 4rem, 0.4);
					
					.enc-flex-auto-xs(margin-bottom, 1rem, 0);
					.enc-flex-auto-sm(margin-bottom, 1rem, 0);
					.enc-flex-auto-md(margin-bottom, 1.5rem, 0);
					.enc-flex-auto-lg(margin-bottom, 2.2rem, 0);
					
				}
				p{
					.enc-flex-auto(font-size, 1rem, .02);
					.enc-flex-auto(line-height, 1.1rem, .02);
					
					.enc-flex-auto-xs(margin-bottom, 1rem, 0);
					.enc-flex-auto-sm(margin-bottom, 1rem, 0);
					.enc-flex-auto-md(margin-bottom, 1.5rem, 0);
					.enc-flex-auto-lg(margin-bottom, 2.2rem, 0);
					
					
				}
				div{
					.enc-width-float;
					.enc-flex-auto-xs(margin-bottom, 1rem, 0);
					.enc-flex-auto-sm(margin-bottom, .3rem, 0);
					.enc-flex-auto-md(margin-bottom, .4rem, 0);
					.enc-flex-auto-lg(margin-bottom, .5rem, 0);
					P{
						.enc-flex-col(100%, 48.5%, 48.5%, 48.5);
							
						.enc-flex-auto-xs(padding-right, .5rem, 0);
						.enc-flex-auto-sm(padding-right, .5rem, 0);
						.enc-flex-auto-md(padding-right, .5rem, .01);
						.enc-flex-auto-lg(padding-right, .9rem, 0);						 
						
						.enc-flex-auto(font-size, .9rem, .02);
						.enc-flex-auto(line-height, 1rem, .02);
						
						.enc-flex-auto-xs(margin-bottom, .5rem, 0);
						.enc-flex-auto-sm(margin-bottom, 0rem, 0);
						.enc-flex-auto-md(margin-bottom, 0rem, 0);
						.enc-flex-auto-lg(margin-bottom, 0rem, 0);
						float: left;	
						margin-bottom: 0rem;
						
					}
					p + p{
						.enc-flex-col(100%, 48.5%, 48.5%, 48.5%);
						
						.enc-flex-auto-xs(padding-right, 0, 0);
						.enc-flex-auto-sm(padding-right, 0, 0);
						.enc-flex-auto-md(padding-right, 0, 0);
						.enc-flex-auto-lg(padding-right, 0px, 0);
						
						margin-top: 0;
						float: left;
					}					
				}
				a{
					.enc-flex-auto-xs(margin-top, 0, 0);
					.enc-flex-auto-sm(margin-top, .5rem, 0);
					.enc-flex-auto-md(margin-top, .5rem, 0);
					.enc-flex-auto-lg(margin-top, .5rem, 0);
					.enc-flex-btn(@font-size: .8rem, 
						@font-size-ratio: .02, 
						@line-height: 12px, 
						@line-height-ratio: .5,
						@bg-color: @darkPurple,
						@bg-color-opacity: 1,
						@color: @white,
						@color-opacity: 1,
						@border-width: 0px,
						@border-style: solid,
						@border-color: @black,
						@border-radius: 25px,
						@color-hover: @white,
						@color-opacity-hover: 1,
						@bg-color-hover: @maroon,
						@bg-color-opacity-hover: 1,
						@border-width-hover: 0px,
						@border-style-hover: solid,
						@border-color-hover: @black,
						@border-radius-hover: 25px,
						@padding-top: 5px,
						@padding-top-ratio: .2,
						@padding-bottom: 5px,
						@padding-bottom-ratio: .2,
						@padding-left: 5px,
						@padding-left-ratio: .2,
						@padding-right: 5px,
						@padding-right-ratio: .2,
						@transition-duration: 1s,
					@transition-ease: ease-in-out);			
					text-decoration: none;
					float: right;
				}
			}
		}
	}
}
#bapc-home-section-5{	
	.enc-width-float;
	padding-top: 4rem;
	padding-bottom: 4rem;
	background-color: @lightGray;
	#container{
		.enc-center-block;
		width: 60%;
		article{
			#opinion-slide{
				height: 100%;
				li{
					figure{
						.enc-width-float;
						.enc-flex-auto-xs(padding-bottom, 0, 0);
						.enc-flex-auto-sm(padding-bottom, 0, 0);
						.enc-flex-auto-md(padding-bottom, 0, 0);
						.enc-flex-auto-lg(padding-bottom, 10px, 0);
						img{
							.enc-center-block;
							border-radius: 50%;
						}
					}
					figcaption{
						p{
							.enc-flex-col(33%, 33%, 33%, 31%);
							.enc-flex-auto-xs(padding-right, 0, 0);
							.enc-flex-auto-sm(padding-right, 0, 0);
							.enc-flex-auto-md(padding-right, 0, 0);
							.enc-flex-auto-lg(padding-right, 10px, 0);
						}
						p + p {
							.enc-flex-auto-xs(padding-right, 0, 0);
							.enc-flex-auto-sm(padding-right, 0, 0);
							.enc-flex-auto-md(padding-right, 0, 0);
							.enc-flex-auto-lg(padding-right, 10px, 0);
							.enc-flex-auto-xs(padding-left, 0, 0);
							.enc-flex-auto-sm(padding-left, 0, 0);
							.enc-flex-auto-md(padding-left, 0, 0);
							.enc-flex-auto-lg(padding-left, 10px, 0);
							border-left: 1px solid @black;
							border-right: 1px solid @black;
						}
						p + p + p{
							.enc-flex-auto-xs(padding-left, 0, 0);
							.enc-flex-auto-sm(padding-left, 0, 0);
							.enc-flex-auto-md(padding-left, 0, 0);
							.enc-flex-auto-lg(padding-left, 10px, 0);
							border: none;
						}
						div{
							.enc-width-float;
							.enc-flex-auto-xs(padding-bottom, 0, 0);
							.enc-flex-auto-sm(padding-bottom, 0, 0);
							.enc-flex-auto-md(padding-bottom, 0, 0);
							.enc-flex-auto-lg(padding-bottom, 10px, 0);
							p{
								.enc-width-float;
								text-align: center;	
							}
						}
					}
				}
			}
			#names{
				.enc-center-block;
				width: 50%;
				height: 100%;
				li{
					.enc-flex-col(33.33%, 33.33%, 33.33%, 33.33%);
					list-style: none;
					a{
						text-decoration: none;
					}
				}
			}
		}
	}
}