html, body{
	margin: 0;
	padding: 0;
}

h1{
	.enc-flex-auto-fontsize-lineheight(1rem, 0.2, 1rem, 0.2);
	.enc-font-color(@white, 1) !important;
	text-align: center;
}

#what-home-section-1-outer{
	.enc-flex-width-float;
	.enc-background-color(#25da4b, 1);
	#what-home-section-1-inner{
		.enc-flex-width-float;
		#what-home-section-1-content{
			.enc-flex-width-float;
		}
	}
}

#what-home-section-2-outer{
	.enc-flex-width-float;
	.enc-background-color(#402680, 1);
	#what-home-section-2-inner{
		.enc-flex-width-float;
		#what-home-section-2-content{
			.enc-flex-width-float;
		}
	}
}

#what-home-section-3-parallax{
	.enc-flex-width-float;
	background-size: cover;
    background-position: center bottom;
   	background-repeat: no-repeat;
    background-attachment: fixed;
	#what-home-section-3-parallax-1-outer{
		.enc-flex-width-float;
		#what-home-section-3-parallax-1-inner{
			.enc-flex-width-float;
			#what-home-section-3-parallax-1-content{
				.enc-flex-width-float;
			}
		}
	}
	#what-home-section-3-parallax-2-outer{
		.enc-background-color(#b490ce, 1);
		.enc-flex-width-float;
		#what-home-section-3-parallax-2-inner{
			.enc-flex-width-float;
			#what-home-section-3-parallax-2-content{
				.enc-flex-width-float;
			}
		}
	}
	#what-home-section-3-parallax-3-outer{
		.enc-flex-width-float;
		#what-home-section-3-parallax-3-inner{
			.enc-flex-width-float;
			#what-home-section-3-parallax-3-content{
				.enc-flex-width-float;
			}
		}
	}
}

#what-home-section-4-outer{
	.enc-flex-width-float;
	.enc-background-color(#402680, 1);
	#what-home-section-4-inner{
		.enc-flex-width-float;
		#what-home-section-4-content{
			.enc-flex-width-float;
		}
	}
}

#what-home-section-5-parallax{
	.enc-flex-width-float;
	background-size: cover;
    background-position: center bottom;
   	background-repeat: no-repeat;
    background-attachment: fixed;
	#what-home-section-5-parallax-1-outer{
		.enc-flex-width-float;
		#what-home-section-5-parallax-1-inner{
			.enc-flex-width-float;
			#what-home-section-5-parallax-1-content{
				.enc-flex-width-float;
			}
		}
	}
	#what-home-section-5-parallax-2-outer{
		.enc-background-color(#88541c, 1);
		.enc-flex-width-float;
		#what-home-section-5-parallax-2-inner{
			.enc-flex-width-float;
			#what-home-section-5-parallax-2-content{
				.enc-flex-width-float;
			}
		}
	}
	#what-home-section-5-parallax-3-outer{
		.enc-flex-width-float;
		#what-home-section-5-parallax-3-inner{
			.enc-flex-width-float;
			#what-home-section-5-parallax-3-content{
				.enc-flex-width-float;
			}
		}
	}
}

#what-home-section-6-outer{
	.enc-flex-width-float;
	.enc-background-color(#fc224b, 1);
	#what-home-section-6-inner{
		.enc-flex-width-float;
		#what-home-section-6-content{
			.enc-flex-width-float;
		}
	}
}

#what-home-section-7-outer{
	.enc-flex-width-float;
	.enc-background-color(#0e4d46, 1);
	#what-home-section-7-inner{
		.enc-flex-width-float;
		#what-home-section-7-content{
			.enc-flex-width-float;
		}
	}
}