#photo{
	h1{
		.what-mixin-heading-padding;
		.what-mixin-72(@color: @black, @text-align: center);
		a{
			.enc-text-deco;
			.what-mixin-72(@color: @black);
		}
	}
	.content-single{
		.enc-row;
		figure{
			.enc-row;
			img{
				.enc-row;
			}
		}
		.inner{
			.three-fourths-border;
			.enc-padding-auto-top(1rem, 0.01);
			.left{
				.enc-column(50%, 50%, 50%, 25%);
				time{
					.enc-align-horizontal;	
					.enc-cursor-hand;
					width: 75%;
					&:hover span{
						.enc-background-color(@darkGray, 1);
					}
					span{
						.enc-row;
						.enc-background-color(@yellow, 1);
						.enc-padding-auto-top(0.5rem, 0.01);
						.what-mixin-36(@white, @text-align: center);
						.enc-transition-all(0s, 0.5s, ease-in-out);
					}
					span + span{
						.enc-row;
						.what-mixin-14(@white, @text-align: center);
						.enc-padding-auto-topbottom(0rem, 0, 0.5rem, 0.01);
						.enc-background-color(@yellow, 1);	
					}
				}
			}
			.right{
				.enc-column(50%, 50%, 50%, 75%);
				h2{
					.what-mixin-heading-padding;
					.enc-margin-auto-bottom(0, 0);
					a{
						.what-mixin-20(@black, @textTransform: uppercase);
					}
				}
				span{
					.enc-display;
					.what-mixin-14(@black, 50%);
					.enc-margin-auto-bottom(0.5rem, 0.01);
					a{
						.enc-text-deco;
						span{
							.enc-color(@darkGray, 1);
							.enc-transition-all(0s, 0.5s, ease-in-out);
							.enc-cursor-hand;
							display: inline;
						}
						span + span{
							.enc-color(@yellow, 1);
							&:hover{
								.enc-color(@darkGray, 1);
							}
						}
					}
				}
				.socialshares{
					.enc-row;
					list-style: none;
					li{
						.enc-column(33.33%, 33.33%, 33.33%, 11%);
						a{
							
						}
					}
				}
				section{
					p{
						.what-mixin-14(@black, 50%);
						.what-mixin-paragraph-padding(0.5rem, 0.01, 0.5rem, 0.01);
					}
				}
				a{
					button{
						.what-mixin-button-20;	
					}
				}
			}
		}
		.comments{
			.enc-row;
			.fb-comments{
				.enc-align-horizontal-width(50%);
			}
		}
	}
	.content{
		.enc-align-boxsizing;
		.enc-padding-auto-bottom(1rem, 0.01);
		.enc-column(100%, 50%, 33.33%, 33.33%);
		.enc-padding-auto-equal-leftright(1rem, 0.01);
		figure{
			.enc-row;
			img{
				.enc-row;
			}
		}
		.inner{
			.three-fourths-border;
			.enc-padding-auto-top(1rem, 0.01);
			.left{
				.enc-column(50%, 50%, 50%, 25%);
				time{
					.enc-align-horizontal;	
					.enc-cursor-hand;
					width: 75%;
					&:hover span{
						.enc-background-color(@darkGray, 1);
					}
					span{
						.enc-row;
						.enc-background-color(@yellow, 1);
						.enc-padding-auto-top(0.5rem, 0.01);
						.what-mixin-36(@white, @text-align: center);
						.enc-transition-all(0s, 0.5s, ease-in-out);
					}
					span + span{
						.enc-row;
						.what-mixin-14(@white, @text-align: center);
						.enc-padding-auto-topbottom(0rem, 0, 0.5rem, 0.01);
						.enc-background-color(@yellow, 1);	
					}
				}
			}
			.right{
				.enc-column(50%, 50%, 50%, 75%);
				h2{
					.what-mixin-heading-padding;
					.enc-margin-auto-bottom(0, 0);
					a{
						.what-mixin-20(@black, @textTransform: uppercase);
					}
				}
				span{
					.enc-display;
					.what-mixin-14(@black, 50%);
					.enc-margin-auto-bottom(0.5rem, 0.01);
					a{
						.enc-text-deco;
						span{
							.enc-color(@darkGray, 1);
							.enc-transition-all(0s, 0.5s, ease-in-out);
							.enc-cursor-hand;
							display: inline;
						}
						span + span{
							.enc-color(@yellow, 1);
							&:hover{
								.enc-color(@darkGray, 1);
							}
						}
					}
				}
				.socialshares{
					.enc-row;
					list-style: none;
					li{
						.enc-column(33.33%, 33.33%, 33.33%, 33.33%);
						a{
							
						}
					}
				}
				section{
					p{
						.what-mixin-14(@black, 50%);
						.what-mixin-paragraph-padding(0.5rem, 0.01, 0.5rem, 0.01);
					}
				}
				a{
					button{
						.what-mixin-button-20;	
					}
				}
			}
		}
		.comments{
			.enc-row;
			.fb-comments{
				.enc-align-horizontal-width(50%);
			}
		}
	}
}