#video-article{
	width: 50%;
	margin: 0 auto;
	h1{
		.what-mixin-72(@text-align: center);
		.enc-padding-auto-equal-topbottom(1rem, 0.01);
	}
	#object{
		.enc-row;
		#embed{
			.enc-row;
			iframe{
				width: 100%;
			}
		}
		#content{
			.enc-row;
			.three-fourths-border;
			.enc-padding-auto-equal-topbottom(1rem, 0.01);
			#left{
				.enc-column(20%, 20%, 20%, 20%);
				#inner{
					.enc-background-color(@yellow, 1);
					.enc-padding-auto-equal-topbottom(1rem, 0.01);
					margin: 0 auto;
					width: 50%;
					span{
						.what-mixin-36(@text-align: center, @color: @white);
						display: block;
					}
					span + span{
						.what-mixin-14(@text-align: center, @color: @white);
						display: block;
					}
				}
			}
			#right{
				.enc-column(80%, 80%, 80%, 80%);
				h2{
					.what-mixin-20(@text-align: left, @color: @black);
				}
				#subscribe{
					.enc-row(30%);
					.enc-padding-auto-equal-topbottom(1rem, 0.01);
					div{
					}
				}
				#share{
					.enc-row(70%);
					.what-mixin-ul;
					.enc-padding-auto-equal-topbottom(1rem, 0.01);
					li{
						width: 33.33%;
						float: left;
						text-align: center;
						a{
							
						}
						div{
							width: inherit;
							display: block !important;
							margin: 0 auto !important;
						}
						iframe{
							width: inherit;
							display: block;
							margin: 0 auto;
						}
					}
				}
				#hashtags{
					.enc-row(100%);
					.what-mixin-ul;
					li{
						.what-mixin-li;
						a{
							.enc-text-deco;
							.enc-color(@yellow, 1);
							.enc-transition-all(0s, 0.5s, ease-in-out);
							&:hover{
								.enc-color(@darkGray, 1);
							}
						}
					}
				}
				#description{
					.enc-row;
					.enc-padding-auto-equal-topbottom(1rem, 0.01);
				}
			}
		}
	}
}