@font-default-path: '../bower/vikingfonticons/fonts/';
@font-weight: normal;
@font-style: normal;
.enc-font-add(@font-default-path, 'lato-black', @font-weight, @font-style);
.enc-font-add(@font-default-path, 'lato-bold', @font-weight, @font-style);
.enc-font-add(@font-default-path, 'lato-medium', @font-weight, @font-style);
.enc-font-add(@font-default-path, 'lato-regular', @font-weight, @font-style);