@font-default-path: '../bower/vikingfonticons/fonts/';
@icon-default-path: '../bower/vikingfonticons/icons/';
@logo-font-path: '../fonts/';
@font-weight: normal;
@font-style: normal;

.enc-font-add(@logo-font-path, 'evil', @font-weight, @font-style);
.enc-font-add(@logo-font-path, 'magic', @font-weight, @font-style);
.enc-font-add(@font-default-path, 'wizards-magic', @font-weight, @font-style);