.what-header-fix{
	position: fixed !important;
	padding-top: 1rem !important;
	padding-bottom: 1rem !important;
}

.logo-color{
	.enc-font-color(@red, 1);
}

.what-header-outer{
	.enc-flex-width-float;
	.enc-background-color(@white, 1);
	.enc-transition(0.5s, ease-in-out);
	.enc-flex-manual-all-xs(padding-top, 0.2rem);
	.enc-flex-manual-all-sm(padding-top, 0.2rem);
	.enc-flex-manual-all-md(padding-top, 0.2rem);
	.enc-flex-manual-all-lg(padding-top, 2rem);
							
	.enc-flex-manual-all-xs(padding-bottom, 0.3rem);
	.enc-flex-manual-all-sm(padding-bottom, 0.3rem);
	.enc-flex-manual-all-md(padding-bottom, 0.3rem);
	.enc-flex-manual-all-lg(padding-bottom, 3rem);
	z-index: 999;
	position: fixed;
	.what-header-inner{
		.enc-flex-width-float;
		.what-header-content{
			.enc-flex-width-float;
			.what-header-center{
				#what-header-link{
					.enc-flex-col(80%, 80%, 40%, 40%);
					.enc-font-color(@black, 1);
					text-decoration: none;
						&:hover{
							.enc-font-color(@black, 1);
						}
					.what-header-brand{
						.enc-flex-width-float;
						.what-header-brand-icon{
							.enc-flex-col(28%, 25%, 25%, 30%);
							i{
								.enc-flex-auto-fontsize-lineheight(5rem, 0.1, 4rem, 0.05);
								.enc-transition(.5s, ease-in-out);
							}
						}
						.what-header-brand-text{
							.enc-flex-col(72%, 75%, 75%, 70%);
							.enc-flex-auto-fontsize-lineheight(1.6rem, 0.05, 1.75rem, 0.04);
							.enc-font-color(@red, 1);
							text-transform: uppercase;
							font-weight: 900;
							display: block;
							span{
								.enc-font-color(@black, 1);
								.enc-flex-auto-fontsize-lineheight(2rem, 0.06, 1.75rem, 0.03);
								font-weight: 500;
								display: block;
							}
						}
					}
				}
				.what-header-menu{
					.enc-flex-col(20%, 20%, 60%, 60%);
					#large{
						.enc-flex-display-md-lg;						
						.menu{
							.enc-flex-width-float;
							margin: 0;
							padding: 0;
							list-style: none;
							li{
								.enc-flex-col(2%, 25%, 25%, 25%);
								margin: 0;
								padding: 0;
								vertical-align: middle;
								box-sizing: border-box;
								text-align: center;
								a{
									.enc-background-color(@white, 1);
									.enc-font-color(@black, 1);
									.enc-flex-auto-fontsize-lineheight(1.1rem, 0.01, 1.2rem, 0.02);
									.enc-transition(0.5s, ease-in-out);
									font-weight: bold;
									text-transform: uppercase;
									text-decoration: none;
									padding-top: 2rem;
									padding-bottom: 2rem;
									width: 100%;
									float: left;
									&:hover{
										.enc-background-color(@red, 1);
										.enc-font-color(@white, 1);
									}
								}
							}
						}
					}
					#small{
						.enc-flex-display-xs-sm;
						text-align: right;
						#icon{
							.enc-font-color(@black, 1);
							.enc-flex-auto-xs(font-size, 2rem, 0.05);
							.enc-flex-auto-sm(font-size, 4rem, 0.05);							
							text-decoration: none;
							i{
								&:hover{
									.enc-font-color(@red, 1);
								}
								&:focus{
									.enc-font-color(@red, 1);
								}
							}
						}
						#menu{
							.uk-offcanvas-bar{
								ul{
									.enc-flex-width-float;
									margin: 0;
									padding: 0;
									list-style: none;
									li{
										.enc-flex-auto-margin-topbottom(4%, 0, 4%, 0);
										text-align: center;
										a{
											.what-mixin-h2;
											.enc-font-color(@white, 1);
											text-decoration: none;
										}
									}
								}
							}
						}						
					}
				}
			}
		}	
	}
}