.what-container-center{
	.container-center(95%, 85%, 65%, 75%);
}

.what-container-padding{
	.padding(1rem, 1.1rem, 1.2rem, 1.3rem);
}

.what-element-padding{
	.padding-equal-topbottom(0.4rem, 0.5rem, 0.6rem, 0.7rem);
}

.what-button-padding{
	.padding(0.4rem, 0.5rem, 0.6rem, 0.7rem);
}

.what-btn{
	.what-button-padding;
	.grad-vertical(@web-light-orange, @web-orange);
	color: @white;
	border-width: 0.1rem;
	border-color: darken(@web-orange, 5%);
	border-style: solid;
	border-radius: 1rem;
}

.what-title(@color: @black){
	.what-element-padding;
	font-size: 1.5rem;
	color: @color;
}

.what-content(@color: @black){
	.what-element-padding;
	font-size: 1.10rem;
	color: @color;
}

.what-label(@color: @black, @fontSize: 1rem){
	.what-element-padding;
	font-size: @fontSize;
	color: @color;
}

.what-input{
	font-size: 0.9rem;
	padding: 13px 22px;
	background: #FFFFFF;
	color: #363535;
	border: solid 1px #D3D1D1;
	font-weight: 300;
}

/*.what-mixin-fixed(@width: 100%){
	width: 100%;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	position: fixed;
	z-index: 999;
}

.what-mixin-ul{
	list-style: none;
}

.what-mixin-li{
	display: inline-block;
}

.what-mixin-outer-padding(@padding: 1rem, @paddingRatio: 0.01){
	.enc-padding-auto-equal-topbottom(@padding, @paddingRatio);
}

.what-mixin-heading-padding(@padding: 0.25rem, @paddingRatio: 0.01){
	.enc-padding-auto-equal-topbottom(@padding, @paddingRatio);
}

.what-mixin-paragraph-padding(@paddingTop: 1rem, @paddingTopRatio: 0.01, @paddingBottom: 1rem, @paddingBottomRatio: 0.01){
	.enc-padding-auto-topbottom(@paddingTop, @paddingTopRatio, @paddingBottom, @paddingBottomRatio);
}

.what-mixin-color(@color: @black){
	.enc-color(@color, 1);
}			
*/
/*FLEX*/////*NEEDS TO BE ADDED TO ENCLAVE*/
/*.what-mixin-display-flex(@height: 60vh){
	display: flex;
	min-height: @height;			
	align-items: center;
	justify-content: center;
}
.what-mixin-flex-align{
	align-self: center;
}

/*FONT SIZES*/
/*.what-mixin-fontsize(@endFontSize, @endLineHeight, @ratio){
	.enc-font-auto-size-lineheight-reverse(@endFontSize, @ratio, @endLineHeight, @ratio);
}

.what-mixin-14(@color: @black, @percent: 0%, @fontsize: 1rem, @lineheight: 1.12rem, @ratio: 0.001, @textTransform: none, @text-align: left, @letter-spacing: normal){
	.enc-color-lighten(@color, @percent, 1);
	.what-mixin-fontsize(@fontsize, @lineheight, @ratio);
	text-transform: @textTransform;
	letter-spacing: @letter-spacing;
}

.what-mixin-20(@color: @black, @percent: 0%, @fontsize: 1.25rem, @lineheight: 1.35rem, @ratio: 0.01, @textTransform: none, @text-align: left, @letter-spacing: normal){
	.enc-text-deco;
	.enc-color-lighten(@color, @percent, 1);
	.what-mixin-fontsize(@fontsize, @lineheight, @ratio);
	text-transform: @textTransform;
	letter-spacing: @letter-spacing;
}

.what-mixin-36(@color: @black, @percent: 0%, @fontsize: 2.25rem, @lineheight: 2.35rem, @ratio: 0.01, @textTransform: none, @text-align: left, @letter-spacing: normal){
	.enc-color-lighten(@color, @percent, 1);
	.what-mixin-fontsize(@fontsize, @lineheight, @ratio);
	text-transform: @textTransform;
	letter-spacing: @letter-spacing;
}

.what-mixin-72(@color: @black, @percent: 0%, @fontsize: 4.5rem, @lineheight: 4.6rem, @ratio: 0.1, @textTransform: none, @text-align: left, @letter-spacing: normal){
	.enc-color-lighten(@color, @percent, 1);
	.what-mixin-fontsize(@fontsize, @lineheight, @ratio);
	text-transform: @textTransform;
	letter-spacing: @letter-spacing;
}

.what-mixin-button-20(@color: @white, @bgColor: @yellow, @bColor: @yellow, @fontSize: 1.25rem, @fontSizeRatio: 0.01, @lineHeight: 1.35rem, @lineHeightRatio: 0.01, @paddingTB: 1rem, @paddingTBRatio: 0.01, @paddingLR: 0.5rem, @paddingLRRatio: 0.01, @hColor: @white, @hBgColor: @darkGray, @hBColor: @darkGray){
	.enc-cursor-hand;
	.enc-button(
	@color, @opacity: 1,
	@bgColor,  @bgOpacity: 1,
	@bWidth: 0.0625rem, @bStyle: solid, @bColor, @bRadius: 0,
	@fontSize, @fontSizeRatio, 
	@lineHeight, @lineHeightRatio,
	@paddingTB, @paddingTBRatio,
	@paddingLR, @paddingLRRatio,
	@delay: 0, @duration: 0.5s, @timing: ease-in-out,
	@hColor, @hOpacity: 1,
	@hBgColor, @hBgOpacity: 1,
	@hBWidth: 0.0625rem, @hBStyle: solid, @hBColor, @hBRadius: 0, @textTransform: uppercase, @letterSpacing: 0.12rem, @fontWeight: bold);
}

.what-mixin-button-36(@color: @white, @bgColor: @yellow, @bColor: @yellow, @fontSize: 2.25rem, @fontSizeRatio: 0.01, @lineHeight: 2.35rem, @lineHeightRatio: 0.01, @paddingTB: 1rem, @paddingTBRatio: 0.01, @paddingLR: 0.5rem, @paddingLRRatio: 0.01, @hColor: @white, @hBgColor: @darkGray, @hBColor: @darkGray){
	.enc-cursor-hand;
	.enc-button(
	@color, @opacity: 1,
	@bgColor,  @bgOpacity: 1,
	@bWidth: 0.0625rem, @bStyle: solid, @bColor, @bRadius: 0,
	@fontSize, @fontSizeRatio, 
	@lineHeight, @lineHeightRatio,
	@paddingTB, @paddingTBRatio,
	@paddingLR, @paddingLRRatio,
	@delay: 0, @duration: 0.5s, @timing: ease-in-out,
	@hColor, @hOpacity: 1,
	@hBgColor, @hBgOpacity: 1,
	@hBWidth: 0.0625rem, @hBStyle: solid, @hBColor, @hBRadius: 0, @textTransform: uppercase, @letterSpacing: 0.12rem, @fontWeight: bold);
}

.quote-slider{
	.enc-align-horizontal;
	width: 52.5%;						
	float: right;
	list-style: none;
	.enc-margin-auto-topbottom(1rem, 0.01, 0.1rem, 0.01);
	.indicator-item{
		.enc-border(0.01rem, solid, @black, 1rem);
		.enc-margin-auto-leftright(0, 0, .1rem, .01);
		.enc-background-color-lighten(@black, 50%);	
		.enc-align-horizontal;
		width: .75rem;
		height: .75rem;							
	}
	.active{
		.enc-background-color(@yellow, 1);
	}
}
.three-fourths-border{
	.enc-border-all(0rem, 0.125rem, 0.125rem, 0.125rem, solid, @yellow, 0);
}

/*CATEGORY MIXINS*/
/*.what-mixin-intro-left{
	.enc-column(30%, 30%, 25%, 25%);
	.what-mixin-heading-padding;
}
.what-mixin-intro-right{
	.enc-column(70%, 70%, 75%, 75%);
	.enc-padding-auto-right(1.3rem, 0.04);
	.enc-align-boxsizing;
}

.what-mixin-lead-left{
	.enc-column(30%, 30%, 15%, 15%);
	.what-mixin-heading-padding;
}
.what-mixin-lead-right{
	.enc-column(70%, 70%, 85%, 85%);
	.enc-padding-auto-right(1.3rem, 0.04);
	.enc-align-boxsizing;
}

.what-mixin-time{
	.enc-align-horizontal;	
	.enc-cursor-hand;
	width: 50%;
	&:hover span{
	.enc-background-color(@darkGray, 1);
	}
	span{
		.enc-row;
		.enc-background-color(@yellow, 1);
		.enc-padding-auto-top(0.5rem, 0.01);
		.what-mixin-36(@white, @text-align: center);
		.enc-transition-all(0s, 0.5s, ease-in-out);
	}
	span + span{
		.enc-row;
		.what-mixin-14(@white, @text-align: center);
		.enc-padding-auto-topbottom(0rem, 0, 0.5rem, 0.01);
		.enc-background-color(@yellow, 1);	
	}
}

.what-cat-bottom{
	.three-fourths-border;
	.enc-margin-auto-bottom(1rem, 0.01);
	.enc-transition-all(0s, 0.5s, ease-in-out);
}

.what-mixin-content-left{
	.enc-column(100%, 25%, 15%, 15%);
	.what-mixin-heading-padding;
}
.what-mixin-content-right{
	.enc-column(100%, 75%, 85%, 85%);
	.enc-padding-auto-right-xs(0, 0);
	.enc-padding-auto-right-sm(1.62rem, 0.04);
	.enc-padding-auto-right-md(1.82rem, 0.04);
	.enc-padding-auto-right-lg(2rem, 0.04);
	.enc-align-boxsizing;
}

.what-mixin-text-align{
	.enc-flex-manual-all-xs(text-align, center);
	.enc-flex-manual-all-sm(text-align, left);
	.enc-flex-manual-all-md(text-align, left);
	.enc-flex-manual-all-lg(text-align, left);
}

.what-xs-lr-padding{
	.enc-padding-auto-equal-leftright-xs(1rem, 0.001);
	.enc-padding-auto-equal-leftright-sm(0, 0);
	.enc-padding-auto-equal-leftright-md(0, 0);
	.enc-padding-auto-equal-leftright-lg(0, 0);
}*/