@import '../bower/leviathan/src/_less/leviathan';
@import 'views/_load';
@import 'template/_load';

.box{
	overflow: hidden;
	width: 0;
	height: 0;
	background-color: red;
	margin: auto;
	position: absolute;
	top: 0; 
	left: 0; 
	bottom: 0; 
	right: 0;
}