#what-footer-outer{
	.enc-flex-width-float;
	.enc-background-color(@white, 1);
	position: relative;	
	z-index: 99;
	#what-footer-inner{
		.enc-flex-width-float;
		#what-footer-content{
			.enc-flex-width-float;
			#what-footer-center{
				#what-footer-section{
					#what-footer-p1{
						.enc-flex-col(100%, 100%, 100%, 100%);
						.enc-flex-auto-margin-topbottom(0, 0, 0, 0);
						.enc-flex-auto-margin-leftright(0, 0, 0, 0);
						.enc-font-color(@black, 1);
						.what-mixin-p;
						text-align: center;
						a{
							.enc-font-color(@red, 1);
							text-decoration: none;
						}
						span{
							.enc-font-color(@red, 1);
						}
					}
				}
			}
		}
	}
}