@vfi-icons-airport-a: "a";
@vfi-icons-airport-b: "b";
@vfi-icons-airport-c: "c";
@vfi-icons-airport-d: "d";
@vfi-icons-airport-e: "e";
@vfi-icons-airport-f: "f";
@vfi-icons-airport-g: "g";
@vfi-icons-airport-h: "h";
@vfi-icons-airport-i: "i";
@vfi-icons-airport-j: "j";
@vfi-icons-airport-k: "k";
@vfi-icons-airport-l: "l";
@vfi-icons-airport-m: "m";
@vfi-icons-airport-n: "n";
@vfi-icons-airport-o: "o";
@vfi-icons-airport-p: "p";
@vfi-icons-airport-q: "q";
@vfi-icons-airport-r: "r";
@vfi-icons-airport-s: "s";
@vfi-icons-airport-t: "t";