#contact{
	#section-1{
		.row{
			text-align: center;
			h1{
				.what-mixin-72;
			}
			ul{
				.what-mixin-ul;				
				.enc-padding-auto-equal-leftright(1rem, 0.01);
				.enc-padding-auto-equal-topbottom(1rem, 0.01);				
				.enc-align-boxsizing;
				li{					
					h2{
						.what-mixin-36(@black);
						.enc-padding-auto-bottom(1rem, 0.01);						
					}
					a{
						.enc-text-deco;
						.what-mixin-14(@yellow);
					}
					.fa{
						padding-right: 0.5rem;
					}
					.fa-phone{
						padding-right: 0.80rem;
					}
					.fa-fax{
						padding-right: 0.60rem;
					}
					.indent{
						padding-left: 1.5rem;
					}
					.what-mixin-14(@yellow);
				}
			}			
		}
	}
}